/* body {
  background-image: url("./classy-restaurant.jpg");
  opacity: 0.5;
  background-size: "cover";
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 95vh;
  z-index: -1;
} */
