.login-main {
    background-image: url("./login2.jpg");
    background-repeat: no-repeat;
    background-size: "cover";
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 83vh;
    padding-top: 80px;
  }
  .login-middle {
    padding-top: 20px;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    height: 400px;
    width: 300px;
    background: rgba(47, 47, 47, 0.7);
    z-index: 10;
    /* border-radius: 1%; */
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
  }
  .login-middle h1 {
    color: #eeecf1;
    font-size: 25px;
    font-weight: 800;
  }
  
  .login-input{
    margin-top: 50px;
  }
  .input-item{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .pass{
    text-align: left;
    color: #55AAff;
    margin-bottom: 10px;
}
.btn2{
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    background-color: #0044ff;
    border-style: none;
    color: white;
    font-weight: 600;
    margin: 15px;
  }

  .signup{
    margin-top: 10px;
    color: white;
  }

  .registration-form{
    height: 90vh;
  }